<div class="container" style="padding: 2rem;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: #a08b6e; text-transform: uppercase; font-size: 2rem; font-weight: 700; position: relative;text-align: center;">
                <span style="border-bottom: 3px double #711e2d;">Location</span>
            </h2>
        </div>
        <div class="col-md-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.738030801185!2d78.30277757522197!3d17.403840483486146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9568059411fd%3A0x80d6b41d599b7040!2sMSN%20REALTY!5e1!3m2!1sen!2sin!4v1743976171004!5m2!1sen!2sin"
                width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-8">
            <div class="row g-4">
                <div class="col-md-6 col-12">
                  <div class="info-block">
                    <mat-icon class="info-icon" style="color: #711e2d; font-size: 2rem;width: auto;height: auto;">location_on</mat-icon>
                    <h4><strong>STRATEGIC CONNECTIVITY</strong></h4>
                    <ul class="list-unstyled small">
                      <li>Outer Ring Road (ORR) – 5 Mins*</li>
                      <li>Rajiv Gandhi International Airport – 30–35 Mins*</li>
                      <li>Financial District – 10–15 Mins*</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="info-block">
                   <mat-icon class="info-icon" style="color: #711e2d; font-size: 2rem;width: auto;height: auto;">shopping_cart</mat-icon>
                    <h4><strong>LEISURE & ENTERTAINMENT</strong></h4>
                    <ul class="list-unstyled small">
                      <li>Inorbit Mall – 20–25 Mins*</li>
                      <li>Gachibowli Stadium – 15–20 Mins*</li>
                      <li>Shilparamam – 20–25 Mins*</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="info-block">
                    <mat-icon class="info-icon" style="color: #711e2d; font-size: 2rem;width: auto;height: auto;">school</mat-icon>
                    <h4><strong>SCHOOLS & INSTITUTES</strong></h4>
                    <ul class="list-unstyled small">
                      <li>Oakridge International – 10–15 Mins*</li>
                      <li>Indian School of Business – 10–15 Mins*</li>
                      <li>University of Hyderabad – 20–25 Mins*</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="info-block">
                    <mat-icon class="info-icon" style="color: #711e2d; font-size: 2rem;width: auto;height: auto;">computer</mat-icon>
                    <h4><strong>IT HUBS</strong></h4>
                    <ul class="list-unstyled small">
                      <li>HITEC City – 20–25 Mins*</li>
                      <li>Gachibowli IT Park – 15–20 Mins*</li>
                      <li>Mindspace Madhapur – 20–25 Mins*</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
