<app-navbar></app-navbar>
<div>
  <app-slider></app-slider>
  <section style=" font-family: sans-serif;" class="fade-in">
<app-infosection></app-infosection>
</section>
<section style=" font-family: sans-serif;" class="fade-in">
<app-downloads></app-downloads>
</section>
<section style=" font-family: sans-serif;" class="fade-in">
  <app-location></app-location>
</section>
<section style=" font-family: sans-serif;" class="contact-us-section py-5 fade-in">
  <app-contact></app-contact>
</section>

</div>
